@import "../../styles/custom-media.css";
@import "../../styles/custom-properties.css";

.container {
  padding: 2rem 10%;
  padding-bottom: 0;
  @media (--media-max-medium) {
    padding: 2rem 5%;
    padding-bottom: 0;
  }
}

.title {
  margin: 0;
  padding: 0;
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  margin-bottom: 4rem;

  @media (--media-max-medium) {
    font-size: var(--font-title3-size);
    line-height: var(--font-title3-line-height);
    margin-bottom: 2rem;
  }
}

.labelGroups {
  display: flex;
  flex-direction: column;
}

.bottomContainer {
  background-color: #4950ba;
  padding: 2rem 5%;
  padding-top: 1rem;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  color: #fff;
  @media (--media-min-medium) {
    padding: 2rem 10%;
    padding-bottom: 4rem;
  }
}

.mapContainer {
  height: 50vh;
  @media (--media-min-medium) {
    position: absolute;
    right: 4rem;
    bottom: 2rem;
    height: 62vh;
    width: 50%;
  }
}

.map {
  height: 100%;
  width: 100%;
}

.mobilePadCollapse {
  @media (--media-max-medium) {
    margin-bottom: 1rem;
  }
}
