@import "../../styles/custom-media.css";
@import "../../styles/custom-properties.css";

.container {
  padding: 2rem 10%;
}

.title {
  margin: 0;
  padding: 0;
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  margin-bottom: 3rem;

  @media (--media-max-medium) {
    font-size: var(--font-title3-size);
    line-height: var(--font-title3-line-height);
    margin-bottom: 2rem;
  }
}

.labelGroups {
  display: flex;
  @media (--media-max-medium) {
    flex-direction: column;
  }
}

.mapContainer {
  background-color: #4950ba;
  height: 47vh;
  width: 100%;
  position: relative;
  @media (--media-max-medium) {
    margin-top: 1rem;
    height: 42vh;
  }
}

.map {
  height: 50vh;
  width: 60%;
  position: absolute;
  left: 2rem;
  top: -3rem;

  @media (--media-max-medium) {
    width: 80%;
    left: 1rem;
    top: -2rem;
    height: 45vh;
  }
}
