@import "../../styles/custom-media.css";
@import "../../styles/custom-properties.css";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8rem 0rem;
  @media (--media-max-medium) {
    padding-bottom: 2rem;
    padding-top: 0;
  }
}

.hero {
  display: flex;
  position: relative;
  padding-bottom: 1rem;
  flex-direction: column;
  align-items: center;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-size: 800px 800px;
  background-repeat: no-repeat;
  background-position: right -3.5rem top 1rem;
  background-image: url("https://cdn.sanity.io/images/w27yvmy4/production/defb40fe9d8966af2b17da009a8f9409c3d6eceb-858x954.png?w=2000&auto=format");
  height: 150%;
  z-index: 0;
  @media (--media-max-medium) {
    display: none;
  }
}

.accentText {
  color: var(--color-accent);
}

.content {
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 80%;
  flex-direction: column;
}

.letters {
  transform: rotate(330deg);
  width: 110%;
  margin-top: -2rem;
  @media (--media-min-medium) {
    display: none;
  }
}

.title {
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
  text-align: center;
  margin-top: -1rem;

  width: 100%;
  font-family: "Helvetica Neue";
  @media (--media-min-medium) {
    font-size: var(--font-title1-size);
    line-height: var(--font-title1-line-height);
    text-align: left;
    margin: 0;
  }
}

.root p a {
  color: inherit;
}
