@import "../../styles/custom-media.css";
@import "../../styles/custom-properties.css";

.root {
  padding: 0 10%;
  padding-bottom: 2rem;
  @media (--media-max-medium) {
    padding: 0;
  }
}

.tiledBg {
  background-repeat: repeat;
  height: 50vh;
  position: relative;
  @media (--media-max-medium) {
    height: 58vh;
  }
}

.left {
  width: 40%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (--media-max-medium) {
    width: 100%;
    padding-bottom: 0;
  }
}

.container {
  height: 100%;
  width: calc(100% - 4rem);
  position: absolute;
  background-color: #eeeeee;
  padding: 0 2rem;
  padding-right: 0rem;
  box-sizing: border-box;
  top: -2rem;
  left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (--media-max-medium) {
    padding: 1rem;
    padding-bottom: 0;
    height: auto;
    width: calc(100% - 2rem);
  }
}

.personImage {
  @media (--media-max-medium) {
    display: none;
  }
  height: 100%;
}

.personImageMobile {
  @media (--media-min-medium) {
    display: none;
  }
  width: 100%;
}

.heading {
  margin: 0;
  padding: 0;
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  margin-bottom: 1rem;
  @media (--media-max-medium) {
    font-size: var(--font-title3-size);
    line-height: var(--font-title3-line-height);
    text-align: center;
  }
}

.tag {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  font-weight: 600;

  @media (--media-max-medium) {
    font-size: var(--font-micro-size);
    line-height: var(--font-micro-line-height);
    text-align: center;
  }
}

.root p a {
  color: inherit;
}

.buttonContainer {
  @media (--media-max-medium) {
    font-size: var(--font-micro-size);
    line-height: var(--font-micro-line-height);
    display: flex;
    flex-direction: center;
    justify-content: center;
    position: relative;
  }
}

.buttonInner {
  @media (--media-max-medium) {
    position: absolute;
    margin-top: -4rem;
  }
}
